---
import LinkButton from "./LinkButton.astro";
const {textUp, textMiddle, rate} = Astro.props;
---

<article id="#jobs" class="pointer card animate-fade-in-up card flex flex-col justify-center items-center gap-4 p-4 m-4 z-1 hover:scale-105 transition-transform duration-300">
  <section class="card__hero">
    <header class="card__hero-header">
      <span>{rate}</span>
      <div class="card__icon">
        
      </div>
    </header>
    <p class="card__job-title">{textUp} {textMiddle}</p>
  </section>

  <footer class="card__footer">
    <div class="card__job-summary">
      <div class="card__job-icon">
        
      </div>
      <div class="card__job">
        <p class="card__job-title">
          {textUp} <br />
          {textMiddle}
        </p>
      </div>
    </div>

    <LinkButton href="/apply" content="Apply"></LinkButton>
  </footer>
</article>

<style>
.card {
    cursor: pointer;
  width: min(300px, 100%);
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #141417;
}
.card__hero {
  background-color: #ffe571;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  font-size: 0.875rem;
}
.card__hero .card__job-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 2rem;
}
.card__hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  font-weight: 700;
}
.card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.75rem;
  row-gap: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media (min-width: 340px) {
  .card__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
.card__job-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem;
}
.card__btn {
  width: 100%;
  font-weight: 400;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  background-color: #141417;
  color: #fff;
  font-size: 1rem;
}
@media (min-width: 340px) {
  .card__btn {
    width: max-content;
  }
}

</style>